# The MBPP MCP Server will refer to this task
MBPP_TASK_JSON=

# The SWE MCP Server will refer to this task
SWE_TASK_JSON=

# What MCP Server transport protocol to use
# http or stdio
MCP_TRANSPORT=

# Timeout delay for time consuming tools (seconds)
MCP_TIMEOUT_DELAY=
